body{
    background-image: url("http://www.noaa.gov/sites/default/files/styles/landscape_width_1275/public/legacy/image/2019/Jun/PHOTO-dark%20and%20stormy%20cloudscape-istock-1125x534-Landscape.jpg?itok=xyVD1jOK");
    background-size: cover;
}
button {
        padding: 10px;
        background-color: blue;
        color: white;
        font-weight: bolder;
        width: 200px;
        font-size: 15px;
        height: 40px;
        cursor: pointer;
        border: none;
    }
    button:hover {
        background-color: royalblue;
    }
    #city{
        padding: 10px;
        border: 1px solid white;
        color: black;
    }
#weatherapp{
    top: 5%;
    width: 1000px;
    display: flex;
    margin:auto;
}
#weatherapp>div{
    margin: 10px;
}
.main{
    text-align: center;
}
#weather{
    width: 60%;
}
#para{
    display: flex;
    justify-content: space-around;
}
#para>div{
    margin: 5px;
    width:50%;
    color: whitesmoke;
    text-align: center;
}
#right{
    width: 400px;
}
#frame{
margin-top:1%;
width: 395px;
height: 300px;
border-radius: 10px;
opacity:0.85 ;
}
.main{
   margin-top: 5%;
   margin-bottom: 5%;
}
#temp{
 text-align:center;
 font-size: large;
 font-weight: bolder;
 color: whitesmoke;
}
#temp>img{
   width: 40px;
   height: 40px;
}
#temp>p{
   font-size: 15px;
}
#temp>h2{
   font-size: 30px;
   font-style: italic;
}
#date>{
   align-items: center;
}